<%= form_tag search_path do |f| %>
  <div class="field">
    学校<br />
    <%= text_field_tag 'school' %>
  </div>
  <div class="field">
    社团名称<br />
    <%= text_field_tag 'name' %>
  </div>
  <div class="actions">
    <%= submit_tag 'Search' %>
  </div>
<% end %>