<h1>Listing groups in <%= params[:school] %></h1>
<% @groups.each do |group| %>
  <div>
    <h1><%= link_to "#{group.school} #{group.name}", group_path(group.permalink) %></h1>
    <p>简介：</p>
    <p><%= group.introduction %></p>
  </div>
<% end %>
