<h1>Listing groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>School</th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.school %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Manage', manage_groups_url(group.permalink) %></td>
  </tr>
<% end %>
</table>
