<h1>审核成员和管理员分配</h1>
<%= render 'members/members' %>
<br />
<%= link_to 'New Member', new_group_member_path(params[:permalink]) %><br/>
<%= link_to 'Manage Home', manage_groups_url(params[:permalink]) %>