<!-- start header -->
<div id="header">
    <div id="logo">
        <h1><%= link_to group.name, group_path group.id %></h1>
        <h2><%= group.slogan %></h2>
    </div>
    <div id="menu">
        <ul>
            <li class="page_item <%= 'current_page_item' if (controller.controller_name == 'groups' and controller.action_name == "index") %>">
                <%= link_to '首页', group_path group.id %>
            </li>
            <li class="page_item <%= 'current_page_item' if (controller.controller_name == 'articles' %>">
                <%= link_to _("Articles"), {:controller => "articles", :action => "archives"} if (controller.controller_name != "index" )%>
            </li>

            <li class="page_item <%= 'current_page_item' if (controller.controller_name == 'articles' and controller.action_name == 'view_page' and params[:name].to_s == 'about') %>">
                <%= link_to _("About"), this_blog.base_url + "/pages/about" %>
            </li>
        </ul>
    </div>
</div>
<!-- end header -->